{{> menu }}
<section>
    <h1>Golden Retriever</h1>
    <p>El Golden Retriever es conocido por su carácter amigable...</p>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=o8mZgs1EJP8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
{{> footer }}
