{{> menu }}
<section>
    <h1>¿Qué son los perros domésticos?</h1>
    <p>Los perros domésticos son animales que...</p>
    <img src="/public/images/perro1.jpg" alt="Imagen de perros domésticos">
    <img src="/public/images/perro2.jpeg" alt="Imagen de perros domésticos">
</section>
{{> footer }}
