{{> menu }}
<section>
    <h1>Pequinés</h1>
    <p>El pequinés es un perro de tamaño pequeño...</p>
    <table>
        <tr><th>Característica</th><th>Descripción</th></tr>
        <tr><td>Altura</td><td>15-25 cm</td></tr>
        <tr><td>Peso</td><td>3-6 kg</td></tr>
    </table>
    <img src="/public/images/pequines1.jpeg" alt="Pequinés 1">
    <img src="/public/images/pequines2.jpeg" alt="Pequinés 2">
</section>
{{> footer }}
